@charset "UTF-8";
@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
.promotion__cards::-webkit-scrollbar {
  height: 0px;
}

.shop__cards::-webkit-scrollbar {
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffec00;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1310px;
  padding: 0px 2rem;
  margin: 0 auto;
}

.logo {
  height: 10px;
}

.header {
  background: #ffffff;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #ececf1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header__logo {
  display: flex;
}
.header__logo .logo {
  -o-object-fit: cover;
     object-fit: cover;
  height: 3rem;
  margin-right: 40px;
}
.header__navbar,
.header .navbar {
  display: flex;
}
.header__navbar__content,
.header .navbar__content {
  display: flex;
  gap: 2rem;
}
.header__navbar .navbarBtn,
.header .navbar .navbarBtn {
  display: none;
  font-size: 2rem;
  opacity: 0.7;
  transition: 0.2s;
  cursor: pointer;
}
.header__navbar .navbarBtn:hover,
.header .navbar .navbarBtn:hover {
  opacity: 1;
}
.header__languages {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header__languages a {
  font-size: 1rem;
  text-decoration: none;
  color: #1a1a18;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.header__languages a img {
  width: 1.5rem;
  height: 1.5rem;
}
.header__input {
  width: 38%;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ececf1;
  border-radius: 13px;
  padding: 8px 12px;
}
.header__input i {
  font-size: 1rem;
  color: #1a1a18;
  margin-right: 11px;
}
.header__input input {
  outline: none;
  border: none;
  width: 100%;
}
.header__input button {
  margin-left: 10px;
  font-size: 15px;
  transition: 0.3s all ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  outline: none;
  border: none;
  padding: 8px 16px;
  color: #1a1a18;
  background: #ffec00;
  border-radius: 0.6rem;
  cursor: pointer;
}
.header__input button:hover {
  filter: brightness(95%);
}
.header__profile, .header__cart {
  display: flex;
  align-items: center;
}
.header__profile a, .header__cart a {
  text-decoration: none;
  color: #1a1a18;
  font-size: 1rem;
  opacity: 0.8;
}
.header__profile a:hover, .header__cart a:hover {
  opacity: 1;
}
.header__profile i, .header__cart i {
  font-size: 1rem;
  margin-right: 10px;
}
.header--checkout {
  justify-content: flex-start;
  padding-left: 2rem;
}

.promotion {
  margin-top: 120px;
  position: relative;
}
.promotion i {
  font-size: 1.2rem;
  color: #1a1a18;
  padding: 4px;
}
.promotion .scroll {
  border: 1px solid #ececf1;
  cursor: pointer;
  padding: 4px 7px;
  border-radius: 50%;
  background: #ffffff;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.promotion .scroll-left {
  left: 20px;
}
.promotion .scroll-right {
  right: -20px;
}
.promotion__cards {
  overflow-x: hidden;
}
.promotion__cards__wrapper {
  display: flex;
  margin: 10px auto;
  transition: all 0.3s linear;
}
.promotion__cards .card {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  min-width: 220px;
  margin: 10px;
}
.promotion__cards .card a {
  text-decoration: none;
}
.promotion__cards .card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop {
  margin-top: 0px;
  position: relative;
}
.shop .title {
  font-size: 34px;
  padding: 0 0 0 10px;
  font-weight: 700;
}
.shop i {
  font-size: 1.2rem;
  color: #1a1a18;
  padding: 4px;
}
.shop .scroll {
  border: 1px solid #ececf1;
  cursor: pointer;
  padding: 4px 7px;
  border-radius: 50%;
  background: #ffffff;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.shop .scroll-left {
  left: 20px;
}
.shop .scroll-right {
  right: -20px;
}
.shop__cards {
  overflow-x: scroll;
}
.shop__cards__wrapper {
  display: flex;
  margin: 10px auto;
  transition: all 0.3s linear;
}
.shop__cards__wrapper .card {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  min-width: 250px;
  margin: 10px;
}
.shop__cards__wrapper .card a {
  text-decoration: none;
}
.shop__cards__wrapper .card img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.shop__cards__wrapper .text {
  padding: 0.8rem 1rem;
}
.shop__cards__wrapper .text h4 {
  margin: 0;
  font-size: calc(1rem + 4px);
  color: #1a1a18;
  font-weight: 500;
  padding: 5px 0;
  overflow: hidden;
  width: 500px;
  margin-bottom: -10px;
}
.shop__cards__wrapper .text p {
  font-size: 12px;
  color: #5a5a5a;
  font-weight: 600;
  margin-top: 10px;
}

.restaurants {
  margin: 0 auto;
  margin-top: 25px;
}
.restaurants__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurants__title .title {
  font-size: 34px;
  font-weight: 700;
  padding: 0 0 0 10px;
}
.restaurants .row {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-content: center;
}
.restaurants .row .card {
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: relative;
  margin-top: 10px;
  border: 0px;
  min-width: calc(33.3333333333% - 36px);
}
.restaurants .row .card a {
  text-decoration: none;
  color: black;
}
.restaurants .row .card .card-img {
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 20rem;
}
.restaurants .row .card .text {
  padding: 15px;
  width: 100%;
}
.restaurants .row .card .text .card-title {
  font-size: 23px;
  font-weight: 600;
}
.restaurants .row .card .text .storeBtn {
  width: 100%;
}

footer {
  margin-top: 50px;
  background: #ececf1;
  padding: 30px;
}
footer .footer-nav a {
  text-decoration: none;
  font-size: 1rem;
  color: gray;
  margin: 20px;
}
footer .footer-bottom {
  flex-wrap: wrap;
  color: gray;
  padding: 10px;
  font-size: 1rem;
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
}

.store {
  width: 100%;
  margin: 0 auto;
  margin-top: 8rem;
}
.store__header {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-height: 25rem;
  padding: 5rem 2rem;
  border-radius: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #fff;
}
.store__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 2rem;
  padding-left: 2rem;
}
.store__content h1 {
  font-size: 3rem;
  font-weight: bold;
}
.store__info {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.store__info .info {
  position: relative;
  background-color: #fff;
  color: #111;
  padding: 6px 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.store__info .info__store {
  position: absolute;
  background-color: #fff;
  width: auto;
  min-width: 320px;
  max-height: 0;
  overflow: hidden;
  top: 120%;
  left: 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 12px rgba(105, 105, 105, 0.2);
}
.store__info .info__store div {
  border-bottom: 1px solid #ccc;
  padding-bottom: 14px;
}
.store__info .info__store h3 {
  font-size: 1.1rem;
  font-weight: 600;
}
.store__info .info__store p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #888;
}
.store__info .info__store h6 {
  font-size: 0.9rem;
  color: #444;
}
.store__info .info__store span {
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-flex;
  color: #888;
}
.store__info .info__store.active {
  padding: 1.2rem 1.5rem;
  height: auto;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  overflow: visible;
}
.store__info .info__store.deactive {
  padding: 0;
  height: 0;
  max-height: 0;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  overflow: hidden;
}
.store__info .rounded {
  border-radius: 2rem !important;
}
.store__info .circle {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  padding: 0;
  transition: 0.2s ease-in-out;
}
.store__info .circle__opener {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.store__info .circle:hover {
  background-color: #eee;
}
.store__input {
  width: 80%;
  border: 1px solid #aaa;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #aaa;
}
.store__input input {
  outline: none;
  border: none;
  margin-left: 5px;
  width: 100%;
}

.backBtn {
  width: 100%;
  color: gray;
}
.backBtn:hover {
  color: rgb(107, 107, 107);
}

.storeBtn {
  border: none;
  outline: none;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
.storeBtn__green {
  background-color: #16c647;
  color: #fff;
}
.storeBtn__green:hover {
  background-color: #11a53b;
}
.storeBtn__yellow {
  background-color: #ffec00;
  color: #000;
}
.storeBtn__yellow:hover {
  background-color: #f0e002;
}
.storeBtn__lightYellow {
  background-color: #fff684;
  color: #000;
}
.storeBtn__gray {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  color: #444;
}
.storeBtn__gray:hover {
  background-color: rgb(247, 247, 247);
}
.storeBtn__active {
  background-color: #fff684;
}
.storeBtn__deactive {
  background-color: #f6f6fb;
}
.storeBtn__deactive:hover {
  background-color: #e2e2e2;
}
.storeBtn__block {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-top: 1.5rem;
}

.storeProducts__tags {
  display: inline-flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.storeProducts__products {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.storeProducts__products h3 {
  font-size: 1.2rem;
  color: #222;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.storeProducts__products .products__wrapper {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.storeProducts__products .products__wrapper .product {
  width: 100%;
  border-radius: 0.8rem;
  background-color: #f3f3f3;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: auto;
  max-width: 200px;
  text-align: center;
}
.storeProducts__products .products__wrapper .product div {
  width: 100%;
  height: 100%;
}
.storeProducts__products .products__wrapper .product img {
  width: 100%;
  border-radius: 0.5rem;
}
.storeProducts__products .products__wrapper .product h5 {
  font-size: 0.9rem;
  color: #333;
  margin-top: 1rem;
}
.storeProducts__products .products__wrapper .product:hover {
  cursor: pointer;
}
.storeProducts__products .products__wrapper .product.notAvailable {
  position: relative;
  opacity: 0.8;
  background-color: rgba(201, 201, 201, 0.24);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.storeProducts__products .products__wrapper .product.notAvailable::after {
  position: absolute;
  content: "Недоступно";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
  top: 50%;
  left: 0;
  width: 100%;
  height: 10%;
  border-radius: 0.2rem;
  background-color: rgb(177, 177, 177);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

.notFound {
  width: 100%;
  margin-top: 5rem;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.notFound h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #11a53b;
}
.notFound h1 span {
  font-size: 6rem;
  color: #ffec00;
}
.notFound p {
  color: #555;
}
.notFound a {
  background-color: #24ad5d;
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  border-radius: 0.3rem;
  color: #fff;
  transition: 0.2s ease;
}
.notFound a:hover {
  background-color: #249754;
}

.productModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productModal__wrapper {
  position: relative;
  background-color: #fff;
  border-radius: 1rem;
  width: 100%;
  max-width: 28rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.productModal__close {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.2s ease-in;
}
.productModal__close:hover {
  background-color: #f0f0f0;
}
.productModal__header {
  width: 100%;
}
.productModal__header img {
  width: 100%;
}
.productModal__content {
  padding: 1rem;
}
.productModal__content h3 {
  font-size: 1.1rem;
  font-weight: bold;
}
.productModal__content p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 100%;
  max-height: 7rem;
  font-size: 0.9rem;
  line-height: 1.1;
  color: #888;
  overflow-y: scroll;
}
.productModal__content p::-webkit-scrollbar {
  width: 5px;
}
.productModal__content p::-webkit-scrollbar-track {
  border-radius: 10px;
}
.productModal__content p::-webkit-scrollbar-thumb {
  background: #ffec00;
  border-radius: 10px;
}
.productModal__content p::-webkit-scrollbar-thumb:hover {
  background: #e7d800;
}
.productModal__footer {
  padding: 1rem;
  text-align: right;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productModal__footer h6 {
  font-size: 0.9rem;
  font-weight: 600;
}

.productModal.active {
  display: flex;
}

.productModal.deactive {
  display: none;
}

.featuredProducts {
  margin-top: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
.featuredProducts .featuredProduct {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  width: 100%;
  max-width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.featuredProducts .featuredProduct__header {
  width: 100%;
  min-height: 280px;
  border-bottom: 1px solid #eee;
  display: grid;
  place-items: center;
}
.featuredProducts .featuredProduct__header img {
  width: 100%;
}
.featuredProducts .featuredProduct__content {
  padding: 1rem;
}
.featuredProducts .featuredProduct__content h3 {
  font-size: 1rem;
  font-weight: bold;
}
.featuredProducts .featuredProduct__content p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 100%;
  max-height: 7rem;
  font-size: 0.9rem;
  line-height: 1.1;
  color: #888;
}
.featuredProducts .featuredProduct__footer {
  padding: 1rem;
  text-align: center;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.contactModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactModal__wrapper {
  position: relative;
  background-color: #fff;
  border-radius: 1.5rem;
  width: 100%;
  max-width: 28rem;
  padding: 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.contactModal__close {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.2s ease-in;
}
.contactModal__close:hover {
  background-color: #f0f0f0;
}
.contactModal__header h3 {
  font-size: 1.3rem;
  font-weight: bold;
}
.contactModal__header p {
  font-size: 0.9rem;
  color: #888;
}
.contactModal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.contactModal__content input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  outline: none;
  font-size: 0.9rem;
  color: #888;
  transition: 0.2s ease-in;
}
.contactModal__content input:focus {
  border: 1px solid #ffec00;
}
.contactModal__footer {
  text-align: center;
}
.contactModal__footer p {
  font-size: 0.8rem;
  color: #888;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.contactModal__footer button {
  display: block;
  width: 100%;
}

.contactModal.active {
  display: flex;
}

.contactModal.deactive {
  display: none;
}

.checkout,
.userPanel {
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 8rem;
}
.checkout__title,
.userPanel__title {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.checkout__content,
.userPanel__content {
  width: 100%;
  display: grid;
  grid-template-columns: 55% auto;
  gap: 5%;
}
.checkout__content--equal,
.userPanel__content--equal {
  grid-template-columns: 50% auto;
}
.checkout__content .content,
.userPanel__content .content {
  position: relative;
}
.checkout__content .content__wrapper,
.userPanel__content .content__wrapper {
  border: 1px solid #ddd;
  border-radius: 1.4rem;
  padding: 2rem;
}
.checkout__content .content__wrapper--marginTop,
.userPanel__content .content__wrapper--marginTop {
  margin-top: 2rem;
}
.checkout__content .content__wrapper--fixed,
.userPanel__content .content__wrapper--fixed {
  position: -webkit-sticky;
  position: sticky;
  top: calc(0% + 8rem);
  width: 100%;
}
.checkout__content .content__title,
.userPanel__content .content__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.checkout__content .content__select,
.userPanel__content .content__select {
  width: 100%;
  height: 3rem;
  max-height: 3rem;
  background-color: rgb(238, 241, 241);
  border-radius: 0.8rem;
  display: flex;
  justify-content: flex-start;
  padding: 0 1rem;
  color: #888;
}
.checkout__content .content__select:hover,
.userPanel__content .content__select:hover {
  background-color: rgb(224, 229, 231);
}
.checkout__content .content__select i,
.userPanel__content .content__select i {
  margin: auto;
}
.checkout__content .content__select select,
.userPanel__content .content__select select {
  width: 100%;
  color: #444;
  border: none;
  outline: none;
  background-color: transparent;
  padding-left: 0.4rem;
  font-size: 1rem;
  cursor: pointer;
}
.checkout__content .content__select select option,
.userPanel__content .content__select select option {
  background-color: #eee;
}
.checkout__content .content__group,
.userPanel__content .content__group {
  width: 100%;
  display: grid;
  gap: 0.5rem;
}
.checkout__content .content__group--3x,
.userPanel__content .content__group--3x {
  grid-template-columns: 1fr 1fr 1fr;
}
.checkout__content .content__group--2x,
.userPanel__content .content__group--2x {
  grid-template-columns: 1fr 1fr;
}
.checkout__content .content__group--items,
.userPanel__content .content__group--items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.checkout__content .content__group--items .item,
.userPanel__content .content__group--items .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #111;
}
.checkout__content .content__group--items .item p,
.userPanel__content .content__group--items .item p {
  width: 70%;
}
.checkout__content .content__group--items .item span,
.checkout__content .content__group--items .item sub,
.userPanel__content .content__group--items .item span,
.userPanel__content .content__group--items .item sub {
  display: block;
}
.checkout__content .content__group--items .item sub,
.userPanel__content .content__group--items .item sub {
  text-align: right;
  color: #888;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.checkout__content .content__group--flex,
.userPanel__content .content__group--flex {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.checkout__content .content__group--flex .flex,
.userPanel__content .content__group--flex .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout__content .content__group--flex .flex h2,
.userPanel__content .content__group--flex .flex h2 {
  font-weight: 500;
}
.checkout__content .content__group--unique,
.userPanel__content .content__group--unique {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.checkout__content .content__group--unique button,
.userPanel__content .content__group--unique button {
  padding-top: 8px;
  padding-bottom: 8px;
}
.checkout__content .content__group--baseline,
.userPanel__content .content__group--baseline {
  align-items: baseline;
}
.checkout__content .content__group--empty,
.userPanel__content .content__group--empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.checkout__content .content__group--empty p,
.userPanel__content .content__group--empty p {
  color: #999;
  font-weight: 500;
}
.checkout__content .content__input,
.userPanel__content .content__input {
  position: relative;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  margin-top: 1rem;
  height: 3rem;
  color: #999;
  padding-left: 5px;
  padding-right: 5px;
}
.checkout__content .content__input label,
.userPanel__content .content__input label {
  position: absolute;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.9rem;
  pointer-events: none;
  transition: 0.2s ease-in-out;
}
.checkout__content .content__input input,
.userPanel__content .content__input input {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  min-height: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #555;
  caret-color: #16c647;
}
.checkout__content .content__input input:focus ~ label,
.userPanel__content .content__input input:focus ~ label {
  top: 0%;
  font-size: 0.7rem;
}
.checkout__content .content__input input.isActive ~ label,
.userPanel__content .content__input input.isActive ~ label {
  top: 0%;
  font-size: 0.7rem;
}
.checkout__content .content__promocode,
.userPanel__content .content__promocode {
  margin-top: 3rem;
  margin-bottom: 2rem;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 0.8rem;
  display: grid;
  min-height: 3rem;
  grid-template-columns: 70% auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.checkout__content .content__promocode span,
.userPanel__content .content__promocode span {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 0.5rem;
}
.checkout__content .content__promocode input,
.userPanel__content .content__promocode input {
  padding-left: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 0.9rem;
  color: #555;
  caret-color: #16c647;
}
.checkout__content .content__promocode button,
.userPanel__content .content__promocode button {
  padding: 0 1.2rem;
  height: 70%;
  margin: auto;
}
.checkout__content .content__promocode button.disabled,
.userPanel__content .content__promocode button.disabled {
  background-color: rgb(238, 241, 241);
  pointer-events: none;
}
.checkout__content .content__btn,
.userPanel__content .content__btn {
  display: block;
  width: 95%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.checkout__content .content__featuredProducts,
.userPanel__content .content__featuredProducts {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.checkout__content .content__featuredProducts .featuredProduct,
.userPanel__content .content__featuredProducts .featuredProduct {
  width: 100%;
  border-radius: 0.8rem;
  background-color: #f3f3f3;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: auto;
  max-width: 200px;
  text-align: center;
}
.checkout__content .content__featuredProducts .featuredProduct div,
.userPanel__content .content__featuredProducts .featuredProduct div {
  width: 100%;
  height: 100%;
}
.checkout__content .content__featuredProducts .featuredProduct img,
.userPanel__content .content__featuredProducts .featuredProduct img {
  width: 100%;
  border-radius: 0.5rem;
}
.checkout__content .content__featuredProducts .featuredProduct h5,
.userPanel__content .content__featuredProducts .featuredProduct h5 {
  font-size: 0.9rem;
  color: #333;
  margin-top: 1rem;
}
.checkout__content .content__featuredProducts .featuredProduct:hover,
.userPanel__content .content__featuredProducts .featuredProduct:hover {
  cursor: pointer;
}
.checkout__content .content__featuredProducts .featuredProduct.notAvailable,
.userPanel__content .content__featuredProducts .featuredProduct.notAvailable {
  position: relative;
  opacity: 0.8;
  background-color: rgba(201, 201, 201, 0.24);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkout__content .content__featuredProducts .featuredProduct.notAvailable::after,
.userPanel__content .content__featuredProducts .featuredProduct.notAvailable::after {
  position: absolute;
  content: "Недоступно";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
  top: 50%;
  left: 0;
  width: 100%;
  height: 10%;
  border-radius: 0.2rem;
  background-color: rgb(177, 177, 177);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.checkout__content .content__address,
.userPanel__content .content__address {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.checkout__content .content__address .address,
.userPanel__content .content__address .address {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid #eee;
}
.checkout__content .content__address .address h5,
.userPanel__content .content__address .address h5 {
  color: #222;
  font-size: 1rem;
  font-weight: normal;
}
.checkout__content .content__address .address p,
.userPanel__content .content__address .address p {
  color: #999;
  font-size: 0.8rem;
  margin-top: 5px;
}
.checkout__content .content__tabs,
.userPanel__content .content__tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.checkout__content .content__tabs .tab,
.userPanel__content .content__tabs .tab {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 1rem;
  width: 100%;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
  font-weight: 500;
  color: #999;
}
.checkout__content .content__tabs .tab--active,
.userPanel__content .content__tabs .tab--active {
  background-color: #f6f6fb;
  color: #555 !important;
  font-weight: 600 !important;
}
.checkout__content .content__tabs .tab--active:hover,
.userPanel__content .content__tabs .tab--active:hover {
  background-color: #f6f6fb !important;
}
.checkout__content .content__tabs .tab--danger,
.userPanel__content .content__tabs .tab--danger {
  margin-top: 1rem;
  background-color: #fff8f8;
}
.checkout__content .content__tabs .tab--danger:hover,
.userPanel__content .content__tabs .tab--danger:hover {
  background-color: #ff4040 !important;
  color: #fff;
}
.checkout__content .content__tabs .tab:hover,
.userPanel__content .content__tabs .tab:hover {
  background-color: #f9f9fc;
}

@media (max-width: 834px) {
  ::-webkit-scrollbar {
    height: 0.1px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffec00;
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffec00;
  }
  html {
    font-size: 14px;
    overflow-x: hidden;
  }
  .promotion {
    margin-top: 180px;
  }
  .shop {
    margin-top: 40px;
  }
  .header {
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
  .header--checkout {
    flex-direction: row;
    justify-content: center;
  }
  .header--checkout__logo {
    display: flex;
    justify-content: center;
  }
  .header__logo {
    padding: 0.5rem 3rem;
  }
  .header__logo .logo {
    margin-right: 0;
  }
  .header__input {
    margin: 12px auto;
    width: 90%;
  }
  .header__navbar,
.header .navbar {
    display: flex;
  }
  .header__navbar__content,
.header .navbar__content {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    max-height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    z-index: 99;
    transition: all 0.3s linear;
  }
  .header__navbar__content a,
.header__navbar__content i,
.header .navbar__content a,
.header .navbar__content i {
    color: #fff;
    font-size: 2rem;
  }
  .header__navbar__content .navbar__CloseBtn,
.header .navbar__content .navbar__CloseBtn {
    display: block;
    position: absolute;
    top: 5%;
    right: 8%;
  }
  .header__navbar__content.active,
.header .navbar__content.active {
    transform: translateX(0%);
  }
  .header__navbar__content.deactive,
.header .navbar__content.deactive {
    transform: translateX(100%);
  }
  .header__navbar .navbar__MenuBtn,
.header .navbar .navbar__MenuBtn {
    position: absolute;
    top: 15%;
    right: calc(0% + 3rem);
    display: inline-block;
  }
  .header__navbar .navbar__MenuBtn .navbarBtn.active,
.header .navbar .navbar__MenuBtn .navbarBtn.active {
    display: inline-block;
  }
  .header__navbar .navbar__MenuBtn .navbarBtn.deactive,
.header .navbar .navbar__MenuBtn .navbarBtn.deactive {
    display: none;
  }
  .store {
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .store__info .info__store {
    min-width: 200px;
    top: 120%;
    left: calc(0% - 200px);
  }
  .store__content h1 {
    font-size: 2.4rem;
  }
  .store__info {
    gap: 0.5rem;
  }
  .store__info .info {
    padding: 3px 6px;
  }
  .storeProducts__tags {
    display: inline-flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  .storeProducts__products {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .storeProducts__products h3 {
    font-size: 1.2rem;
    color: #222;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .storeProducts__products .products__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .storeProducts__products .products__wrapper .product {
    margin-left: auto;
    margin-right: auto;
  }
  .featuredProducts {
    grid-template-columns: 1fr 1fr;
  }
  .userPanel {
    margin-top: 14rem;
  }
  .checkout,
.userPanel {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
  .checkout__title,
.userPanel__title {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  .checkout__content,
.userPanel__content {
    grid-template-columns: 100%;
  }
}
@media (max-width: 620px) {
  .header .navbar__content a,
.header .navbar__content i {
    color: #fff;
    font-size: 1.5rem;
  }
  .checkout,
.userPanel {
    padding: 0 1rem;
  }
  .checkout__title,
.userPanel__title {
    font-size: 2.5rem;
  }
  .checkout__content--equal,
.userPanel__content--equal {
    display: flex;
    align-items: stretch;
    flex-direction: column-reverse;
  }
  .checkout__content .content__featuredProducts,
.userPanel__content .content__featuredProducts {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 428px) {
  .storeProducts__products .products__wrapper {
    grid-template-columns: 1fr;
  }
  .storeProducts__products .products__wrapper .product {
    width: 100%;
  }
  .featuredProducts {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .checkout,
.userPanel {
    padding: 0 1rem;
  }
  .checkout__title,
.userPanel__title {
    font-size: 2rem;
  }
  .checkout__content .content__featuredProducts,
.userPanel__content .content__featuredProducts {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .checkout__content .content__promocode span,
.userPanel__content .content__promocode span {
    top: 50%;
  }
  .checkout__content .content__promocode span img,
.userPanel__content .content__promocode span img {
    width: 1.2rem;
  }
  .checkout__content .content__promocode input,
.userPanel__content .content__promocode input {
    padding-left: 0.5rem;
  }
  .checkout__content .content__promocode button,
.userPanel__content .content__promocode button {
    padding: 0 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */