@charset "UTF-8";
@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
.promotion__cards::-webkit-scrollbar {
  height: 0px;
}

.shop__cards::-webkit-scrollbar {
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffec00;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1310px;
  padding: 0px 2rem;
  margin: 0 auto;
}

.logo {
  height: 10px;
}

.header {
  background: #ffffff;
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #ececf1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header__logo {
  display: flex;
}
.header__logo .logo {
  -o-object-fit: cover;
     object-fit: cover;
  height: 3rem;
  margin-right: 40px;
}
.header__languages {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header__languages a {
  font-size: 1rem;
  text-decoration: none;
  color: #1a1a18;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.header__languages a img {
  width: 1.5rem;
  height: 1.5rem;
}
.header__input {
  width: 38%;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ececf1;
  border-radius: 13px;
  padding: 8px 12px;
}
.header__input i {
  font-size: 1rem;
  color: #1a1a18;
  margin-right: 11px;
}
.header__input input {
  outline: none;
  border: none;
  width: 100%;
}
.header__input button {
  margin-left: 10px;
  font-size: 15px;
  transition: 0.3s all ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  outline: none;
  border: none;
  padding: 5px 12px;
  color: #1a1a18;
  background: #ffec00;
  border-radius: 12px;
  cursor: pointer;
}
.header__input button:hover {
  filter: brightness(95%);
}
.header__profile {
  display: flex;
  align-items: center;
}
.header__profile a {
  text-decoration: none;
  color: #1a1a18;
  font-size: 1rem;
}
.header__profile i {
  font-size: 1rem;
  margin-right: 10px;
}

.promotion {
  margin-top: 120px;
  position: relative;
}
.promotion i {
  font-size: 1.2rem;
  color: #1a1a18;
  padding: 4px;
}
.promotion .scroll {
  border: 1px solid #ececf1;
  cursor: pointer;
  padding: 4px 7px;
  border-radius: 50%;
  background: #ffffff;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.promotion .scroll-left {
  left: 20px;
}
.promotion .scroll-right {
  right: -20px;
}
.promotion__cards {
  overflow-x: hidden;
}
.promotion__cards__wrapper {
  display: flex;
  margin: 10px auto;
  transition: all 0.3s linear;
}
.promotion__cards .card {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  min-width: 220px;
  margin: 10px;
}
.promotion__cards .card a {
  text-decoration: none;
}
.promotion__cards .card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop {
  margin-top: 0px;
  position: relative;
}
.shop .title {
  font-size: 34px;
  padding: 0 0 0 10px;
  font-weight: 700;
}
.shop i {
  font-size: 1.2rem;
  color: #1a1a18;
  padding: 4px;
}
.shop .scroll {
  border: 1px solid #ececf1;
  cursor: pointer;
  padding: 4px 7px;
  border-radius: 50%;
  background: #ffffff;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.shop .scroll-left {
  left: 20px;
}
.shop .scroll-right {
  right: -20px;
}
.shop__cards {
  overflow-x: scroll;
}
.shop__cards__wrapper {
  display: flex;
  margin: 10px auto;
  transition: all 0.3s linear;
}
.shop__cards__wrapper .card {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  min-width: 250px;
  margin: 10px;
}
.shop__cards__wrapper .card a {
  text-decoration: none;
}
.shop__cards__wrapper .card img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.shop__cards__wrapper .text {
  padding: 2px 10px;
}
.shop__cards__wrapper .text h4 {
  margin: 0;
  font-size: calc(1rem + 4px);
  color: #1a1a18;
  font-weight: 500;
  padding: 5px 0;
  overflow: hidden;
  width: 500px;
  margin-bottom: -10px;
}
.shop__cards__wrapper .text p {
  font-size: 14px;
  color: #343434;
  font-weight: 600;
}

.restaurants {
  margin: 0 auto;
  margin-top: 25px;
}
.restaurants__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurants__title .title {
  font-size: 34px;
  font-weight: 700;
  padding: 0 0 0 10px;
}
.restaurants .row {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-content: center;
}
.restaurants .row .card {
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: relative;
  margin-top: 10px;
  border: 0px;
  min-width: calc(33.3333333333% - 36px);
}
.restaurants .row .card a {
  text-decoration: none;
  color: black;
}
.restaurants .row .card .card-img {
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 20rem;
}
.restaurants .row .card .text {
  padding: 15px;
  width: 100%;
}
.restaurants .row .card .text .card-title {
  font-size: 23px;
  font-weight: 600;
}
.restaurants .row .card .text .storeBtn {
  width: 100%;
}

footer {
  margin-top: 50px;
  background: #ececf1;
  padding: 30px;
}
footer .footer-nav a {
  text-decoration: none;
  font-size: 1rem;
  color: gray;
  margin: 20px;
}
footer .footer-bottom {
  flex-wrap: wrap;
  color: gray;
  padding: 10px;
  font-size: 1rem;
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
}

.store {
  position: relative;
  margin: 0 auto;
  margin-top: 8rem;
}
.store__backBtn {
  width: 100%;
  color: gray;
}
.store__backBtn:hover {
  color: rgb(107, 107, 107);
}
.store__header {
  position: relative;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 25rem;
  padding: 5rem 2rem;
  border-radius: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #fff;
}
.store__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 2rem;
  padding-left: 2rem;
}
.store__content h1 {
  font-size: 3rem;
  font-weight: bold;
}
.store__info {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.store__info .info {
  position: relative;
  background-color: #fff;
  color: #111;
  padding: 6px 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.store__info .info__store {
  position: absolute;
  background-color: #fff;
  width: auto;
  min-width: 320px;
  max-height: 0;
  overflow: hidden;
  top: 120%;
  left: 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 12px rgba(105, 105, 105, 0.2);
}
.store__info .info__store div {
  border-bottom: 1px solid #ccc;
}
.store__info .info__store h3 {
  font-size: 1.1rem;
  font-weight: 600;
}
.store__info .info__store p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #888;
}
.store__info .info__store h6 {
  font-size: 0.9rem;
  color: #444;
}
.store__info .info__store span {
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-flex;
  color: #888;
}
.store__info .info__store.active {
  padding: 1.2rem 1.5rem;
  height: auto;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  overflow: visible;
}
.store__info .rounded {
  border-radius: 2rem !important;
}
.store__info .circle {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  padding: 0;
  transition: 0.2s ease-in-out;
}
.store__info .circle__opener {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.store__info .circle:hover {
  background-color: #eee;
}
.store__input {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.6rem 0.8rem;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #aaa;
}
.store__input input {
  outline: none;
  border: none;
  margin-left: 5px;
  width: 100%;
}

.storeBtn {
  border: none;
  outline: none;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
.storeBtn__green {
  background-color: #16c647;
  color: #fff;
}
.storeBtn__green:hover {
  background-color: #11a53b;
}
.storeBtn__yellow {
  background-color: #ffec00;
  color: #000;
}
.storeBtn__yellow:hover {
  background-color: #ddce00;
}
.storeBtn__lightYellow {
  background-color: #fff684;
  color: #000;
}
.storeBtn__gray {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  color: #444;
}
.storeBtn__gray:hover {
  background-color: rgb(247, 247, 247);
}
.storeBtn__active {
  background-color: #fff684;
}
.storeBtn__deactive {
  background-color: #f6f6fb;
}
.storeBtn__deactive:hover {
  background-color: #e2e2e2;
}

.storeProducts__tags {
  display: inline-flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.storeProducts__products {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.storeProducts__products h3 {
  font-size: 1.2rem;
  color: #222;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.storeProducts__products .products__wrapper {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.storeProducts__products .products__wrapper .product {
  width: 100%;
  border-radius: 0.8rem;
  background-color: #f3f3f3;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: auto;
  max-width: 200px;
  text-align: center;
}
.storeProducts__products .products__wrapper .product div {
  width: 100%;
  height: 100%;
}
.storeProducts__products .products__wrapper .product img {
  width: 100%;
  border-radius: 0.5rem;
}
.storeProducts__products .products__wrapper .product h5 {
  font-size: 0.9rem;
  color: #333;
  margin-top: 1rem;
}
.storeProducts__products .products__wrapper .product:hover {
  cursor: pointer;
}
.storeProducts__products .products__wrapper .product.notAvailable {
  position: relative;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.storeProducts__products .products__wrapper .product.notAvailable::after {
  position: absolute;
  content: "Недоступно";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  background-color: rgba(31, 31, 31, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.notFound {
  width: 100%;
  margin-top: 5rem;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.notFound h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #11a53b;
}
.notFound h1 span {
  font-size: 6rem;
  color: #ffec00;
}
.notFound p {
  color: #555;
}

.productModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productModal__wrapper {
  position: relative;
  background-color: #fff;
  border-radius: 1rem;
  width: 100%;
  max-width: 28rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.productModal__close {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.2s ease-in;
}
.productModal__close:hover {
  background-color: #f0f0f0;
}
.productModal__header {
  width: 100%;
}
.productModal__header img {
  width: 100%;
}
.productModal__content {
  padding: 1rem;
}
.productModal__content h3 {
  font-size: 1.1rem;
  font-weight: bold;
}
.productModal__content p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 100%;
  max-height: 7rem;
  font-size: 0.9rem;
  line-height: 1.1;
  color: #888;
  overflow-y: scroll;
}
.productModal__content p::-webkit-scrollbar {
  width: 5px;
}
.productModal__content p::-webkit-scrollbar-track {
  border-radius: 10px;
}
.productModal__content p::-webkit-scrollbar-thumb {
  background: #ffec00;
  border-radius: 10px;
}
.productModal__content p::-webkit-scrollbar-thumb:hover {
  background: #e7d800;
}
.productModal__footer {
  padding: 1rem;
  text-align: right;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
}
.productModal__footer h6 {
  font-size: 0.9rem;
  font-weight: 600;
}
.productModal__footer .btnGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productModal__footer .btnGroup div {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.productModal__footer .btnGroup div button {
  border: none;
  outline: none;
  padding: 1rem 1.6rem;
  background-color: #eee;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
}
.productModal__footer .btnGroup div button:hover {
  background-color: #e0e0e0;
}
.productModal__footer .btnGroup div button.deactive {
  pointer-events: none;
  opacity: 0.6;
}

.featuredProducts {
  margin-top: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
.featuredProducts .featuredProduct {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  width: 100%;
  max-width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.featuredProducts .featuredProduct__header {
  width: 100%;
  min-height: 280px;
  border-bottom: 1px solid #eee;
  display: grid;
  place-items: center;
}
.featuredProducts .featuredProduct__header img {
  width: 100%;
}
.featuredProducts .featuredProduct__content {
  padding: 1rem;
}
.featuredProducts .featuredProduct__content h3 {
  font-size: 1rem;
  font-weight: bold;
}
.featuredProducts .featuredProduct__content p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 100%;
  max-height: 7rem;
  font-size: 0.9rem;
  line-height: 1.1;
  color: #888;
}
.featuredProducts .featuredProduct__footer {
  padding: 1rem;
  text-align: center;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.contactModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactModal__wrapper {
  position: relative;
  background-color: #fff;
  border-radius: 1.5rem;
  width: 100%;
  max-width: 28rem;
  padding: 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.contactModal__close {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.2s ease-in;
}
.contactModal__close:hover {
  background-color: #f0f0f0;
}
.contactModal__header h3 {
  font-size: 1.3rem;
  font-weight: bold;
}
.contactModal__header p {
  font-size: 0.9rem;
  color: #888;
}
.contactModal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.contactModal__content input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  outline: none;
  font-size: 0.9rem;
  color: #888;
  transition: 0.2s ease-in;
}
.contactModal__content input:focus {
  border: 1px solid #ffec00;
}
.contactModal__footer {
  text-align: center;
}
.contactModal__footer p {
  font-size: 0.8rem;
  color: #888;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.contactModal__footer button {
  display: block;
  width: 100%;
}

@media (max-width: 820px) {
  ::-webkit-scrollbar {
    height: 0.1px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffec00;
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffec00;
  }
  html {
    font-size: 14px;
  }
  .promotion {
    margin-top: 180px;
  }
  .shop {
    margin-top: 40px;
  }
  .header {
    flex-direction: column;
  }
  .header__input {
    margin: 12px auto;
    width: 90%;
  }
  .header__address, .header__profile {
    display: none;
  }
  .store {
    margin-top: 15rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .store__info .info__store {
    min-width: 200px;
    top: 120%;
    left: calc(0% - 200px);
  }
  .store__content h1 {
    font-size: 2.4rem;
  }
  .store__info {
    gap: 0.5rem;
  }
  .store__info .info {
    padding: 3px 6px;
  }
  .storeProducts__tags {
    display: inline-flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  .storeProducts__products {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .storeProducts__products h3 {
    font-size: 1.2rem;
    color: #222;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .storeProducts__products .products__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .storeProducts__products .products__wrapper .product {
    margin-left: auto;
    margin-right: auto;
  }
  .featuredProducts {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 428px) {
  .storeProducts__products .products__wrapper {
    grid-template-columns: 1fr;
  }
  .storeProducts__products .products__wrapper .product {
    max-width: 320px;
  }
  .featuredProducts {
    grid-template-columns: 1fr;
    place-items: center;
  }
}/*# sourceMappingURL=style.css.map */