@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

// Global Styles
$color-white: #ffffff;
$color-black: #1a1a18;
$color-gray: #ececf1;
$color-yellow: #ffec00;
$color-green: #2ecc71;
$font-size-sm: 1rem;
$font-size-md: 1.4rem;
$font-size-xl: 2rem;

@mixin button($bg, $color) {
  transition: 0.3s all ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  outline: none;
  border: none;
  padding: 8px 16px;
  color: $color;
  background: $bg;
  border-radius: 0.6rem;
  cursor: pointer;

  &:hover {
    filter: brightness(95%);
  }
}

.promotion__cards::-webkit-scrollbar {
  height: 0px;
}
.shop__cards::-webkit-scrollbar {
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 10px;
  // height: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-yellow;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: $color-white;
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1310px;
  padding: 0px 2rem;
  margin: 0 auto;
}

.logo {
  height: 10px;
}

.header {
  background: $color-white;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid $color-gray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  &__logo {
    display: flex;
    .logo {
      object-fit: cover;
      height: 3rem;
      margin-right: 40px;
    }
  }

  &__navbar,
  .navbar {
    display: flex;
    &__content {
      display: flex;
      gap: 2rem;
    }
    .navbarBtn {
      display: none;
      font-size: 2rem;
      opacity: 0.7;
      transition: 0.2s;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }

  &__languages {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    a {
      font-size: $font-size-sm;
      text-decoration: none;
      color: $color-black;
      margin: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &__input {
    width: 38%;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $color-gray;
    border-radius: 13px;
    padding: 8px 12px;

    i {
      font-size: $font-size-sm;
      color: $color-black;
      margin-right: 11px;
    }

    input {
      outline: none;
      border: none;
      width: 100%;
    }

    button {
      margin-left: 10px;
      font-size: 15px;
      @include button($color-yellow, $color-black);
    }
  }

  &__profile,
  &__cart {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: $color-black;
      font-size: $font-size-sm;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }

    i {
      font-size: $font-size-sm;
      margin-right: 10px;
    }
  }
  &--checkout {
    justify-content: flex-start;
    padding-left: 2rem;
  }
}

.promotion {
  margin-top: 120px;
  position: relative;
  i {
    font-size: $font-size-md - 0.2;
    color: $color-black;
    padding: 4px;
  }

  .scroll {
    border: 1px solid $color-gray;
    cursor: pointer;
    padding: 4px 7px;
    border-radius: 50%;
    background: $color-white;
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    &-left {
      left: 20px;
    }

    &-right {
      right: -20px;
    }
  }

  &__cards {
    overflow-x: hidden;
    &__wrapper {
      display: flex;
      margin: 10px auto;
      transition: all 0.3s linear;
    }
    .card {
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.22);
      overflow: hidden;
      border-radius: 15px;
      border: none;

      cursor: pointer;
      width: 100%;
      min-width: 220px;
      margin: 10px;
      a {
        text-decoration: none;
      }
      img {
        width: 100%;
        border-radius: 10px 10px 0 0;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.shop {
  margin-top: 0px;
  position: relative;

  .title {
    font-size: 34px;
    padding: 0 0 0 10px;
    font-weight: 700;
  }
  i {
    font-size: $font-size-md - 0.2;
    color: $color-black;
    padding: 4px;
  }

  .scroll {
    border: 1px solid $color-gray;
    cursor: pointer;
    padding: 4px 7px;
    border-radius: 50%;
    background: $color-white;
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    &-left {
      left: 20px;
    }

    &-right {
      right: -20px;
    }
  }

  &__cards {
    overflow-x: scroll;
    &__wrapper {
      display: flex;
      margin: 10px auto;
      transition: all 0.3s linear;
      .card {
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.22);
        border-radius: 15px;
        border: none;
        cursor: pointer;
        width: 100%;
        min-width: 250px;
        margin: 10px;
        a {
          text-decoration: none;
        }
        img {
          width: 100%;
          border-radius: 20px 20px 0 0;
          // height: 100%;
          object-fit: cover;
        }
      }

      .text {
        padding: 0.8rem 1rem;

        h4 {
          margin: 0;
          font-size: calc($font-size-sm + 4px);
          color: $color-black;
          font-weight: 500;
          padding: 5px 0;
          overflow: hidden;
          width: 500px;
          margin-bottom: -10px;
        }
        p {
          font-size: 12px;
          color: #5a5a5a;
          font-weight: 600;
          margin-top: 10px;
        }
      }
    }
  }
}

.restaurants {
  margin: 0 auto;
  margin-top: 25px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      font-size: 34px;
      font-weight: 700;
      padding: 0 0 0 10px;
    }
  }

  .row {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    .card {
      height: 100%;
      box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
      border-radius: 20px;
      position: relative;
      margin-top: 10px;
      border: 0px;
      min-width: calc(100% / 12 * 4 - 36px);
      a {
        text-decoration: none;
        color: black;
      }
      .card-img {
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-height: 20rem;
      }
      .text {
        padding: 15px;
        width: 100%;
        .card-title {
          font-size: 23px;
          font-weight: 600;
        }
        .defaultBtn {
          width: 100%;
        }
      }
    }
  }
}

footer {
  margin-top: 50px;
  background: $color-gray;
  padding: 30px;

  .footer-nav {
    a {
      text-decoration: none;
      font-size: $font-size-sm;
      color: gray;
      margin: 20px;
    }
  }

  .footer-bottom {
    flex-wrap: wrap;
    color: gray;
    padding: 10px;
    font-size: $font-size-sm;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
  }
}

.store {
  width: 100%;
  margin: 0 auto;
  margin-top: 8rem;
  &__header {
    position: relative;
    object-fit: cover;
    width: 100%;
    min-height: 25rem;
    padding: 5rem 2rem;
    border-radius: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #fff;
  }
  &__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 2rem;
    padding-left: 2rem;
  }
  &__content {
    h1 {
      font-size: 3rem;
      font-weight: bold;
    }
  }
  &__info {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
    .info {
      position: relative;
      background-color: #fff;
      color: #111;
      padding: 6px 12px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      &__store {
        position: absolute;
        background-color: #fff;
        width: auto;
        min-width: 320px;
        max-height: 0;
        overflow: hidden;
        top: 120%;
        left: 0;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-shadow: 0 0 12px rgba(105, 105, 105, 0.2);
        div {
          border-bottom: 1px solid #ccc;
          padding-bottom: 14px;
        }
        h3 {
          font-size: 1.1rem;
          font-weight: 600;
        }
        p {
          font-size: 0.8rem;
          font-weight: 500;
          color: #888;
        }
        h6 {
          font-size: 0.9rem;
          color: #444;
        }
        span {
          font-size: 0.8rem;
          font-weight: 500;
          display: inline-flex;
          color: #888;
        }
      }
      &__store.active {
        padding: 1.2rem 1.5rem;
        height: auto;
        max-height: max-content;
        overflow: visible;
      }
      &__store.deactive {
        padding: 0;
        height: 0;
        max-height: 0;
        max-height: max-content;
        overflow: hidden;
      }
    }
    .rounded {
      border-radius: 2rem !important;
    }
    .circle {
      width: 2.2rem;
      height: 2.2rem;
      border-radius: 50%;
      padding: 0;
      transition: 0.2s ease-in-out;
      &__opener {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:hover {
        background-color: #eee;
      }
    }
  }
  &__input {
    width: 80%;
    border: 1px solid #aaa;
    border-radius: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #aaa;
    input {
      outline: none;
      border: none;
      margin-left: 5px;
      width: 100%;
    }
  }
}

.backBtn {
  width: 100%;
  color: gray;
  &:hover {
    color: rgb(107, 107, 107);
  }
}

.defaultBtn {
  border: none;
  outline: none;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.2s ease-in-out;
  &__green {
    background-color: #16c647;
    color: #fff;
    &:hover {
      background-color: #11a53b;
    }
  }
  &__yellow {
    background-color: #ffec00;
    color: #000;
    &:hover {
      background-color: #f0e002;
    }
  }
  &__lightYellow {
    background-color: #fff684;
    color: #000;
  }
  &__gray {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    color: #444;
    &:hover {
      background-color: rgb(247, 247, 247);
    }
  }
  &__active {
    background-color: #fff684;
  }
  &__deactive {
    background-color: #f6f6fb;
    &:hover {
      background-color: #e2e2e2;
    }
  }
  &__block {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-top: 1.5rem;
  }
}

.storeProducts {
  &__tags {
    display: inline-flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  &__products {
    margin-top: 2rem;
    margin-bottom: 2rem;
    h3 {
      font-size: 1.2rem;
      color: #222;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .products__wrapper {
      width: 100%;
      display: inline-flex;
      flex-wrap: wrap;
      gap: 3rem;
      .product {
        width: 100%;
        border-radius: 0.8rem;
        background-color: #f3f3f3;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: auto;
        max-width: 200px;
        text-align: center;

        div {
          width: 100%;
          height: 100%;
        }
        img {
          width: 100%;
          border-radius: 0.5rem;
        }
        h5 {
          font-size: 0.9rem;
          color: #333;
          margin-top: 1rem;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .product.notAvailable {
        position: relative;
        opacity: 0.8;
        background-color: rgba(201, 201, 201, 0.24);
        pointer-events: none;
        user-select: none;
        &::after {
          position: absolute;
          content: "Недоступно";
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-size: 1.2rem;
          top: 50%;
          left: 0;
          width: 100%;
          height: 10%;
          border-radius: 0.2rem;
          background-color: rgb(177, 177, 177);
          backdrop-filter: blur(1px);
        }
      }
    }
  }
}

.notFound {
  width: 100%;
  margin-top: 5rem;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: 2rem;
    font-weight: 500;
    color: #11a53b;
    span {
      font-size: 6rem;
      color: #ffec00;
    }
  }
  p {
    color: #555;
  }
  a {
    background-color: #24ad5d;
    margin-top: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 0.3rem;
    color: #fff;
    transition: 0.2s ease;
    &:hover {
      background-color: #249754;
    }
  }
}

.productModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  &__wrapper {
    position: relative;
    background-color: #fff;
    border-radius: 1rem;
    width: 100%;
    max-width: 28rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  &__close {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #fff;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.2s ease-in;
    &:hover {
      background-color: #f0f0f0;
    }
  }
  &__header {
    width: 100%;
    img {
      width: 100%;
    }
  }
  &__content {
    padding: 1rem;
    h3 {
      font-size: 1.1rem;
      font-weight: bold;
    }
    p {
      margin-top: 1rem;
      margin-bottom: 1rem;
      height: 100%;
      max-height: 7rem;
      font-size: 0.9rem;
      line-height: 1.1;
      color: #888;
      overflow-y: scroll;
    }
    p::-webkit-scrollbar {
      width: 5px;
    }

    p::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    p::-webkit-scrollbar-thumb {
      background: $color-yellow;
      border-radius: 10px;
    }

    p::-webkit-scrollbar-thumb:hover {
      background: #e7d800;
    }
  }
  &__footer {
    padding: 1rem;
    text-align: right;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    h6 {
      font-size: 0.9rem;
      font-weight: 600;
    }
  }
}

.productModal.active {
  display: flex;
}
.productModal.deactive {
  display: none;
}

.featuredProducts {
  margin-top: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  .featuredProduct {
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    width: 100%;
    max-width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    &__header {
      width: 100%;
      min-height: 280px;
      border-bottom: 1px solid #eee;
      display: grid;
      place-items: center;
      img {
        width: 100%;
      }
    }
    &__content {
      padding: 1rem;
      h3 {
        font-size: 1rem;
        font-weight: bold;
      }
      p {
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 100%;
        max-height: 7rem;
        font-size: 0.9rem;
        line-height: 1.1;
        color: #888;
      }
    }
    &__footer {
      padding: 1rem;
      text-align: center;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    }
  }
}

.contactModal,
.userCardModal,
.userAddressModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    position: relative;
    background-color: #fff;
    border-radius: 1.5rem;
    width: 100%;
    max-width: 28rem;
    padding: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  &__close {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #fff;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.2s ease-in;
    &:hover {
      background-color: #f0f0f0;
    }
  }
  &__header {
    h3 {
      font-size: 1.3rem;
      font-weight: bold;
    }
    p {
      font-size: 0.9rem;
      color: #888;
    }
  }
  &__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    input {
      width: 100%;
      padding: 1rem;
      border: 1px solid #eee;
      border-radius: 0.5rem;
      outline: none;
      font-size: 0.9rem;
      color: #888;
      transition: 0.2s ease-in;
      &:focus {
        border: 1px solid $color-yellow;
      }
    }
  }
  &__footer {
    text-align: center;
    p {
      font-size: 0.8rem;
      color: #888;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    button {
      display: block;
      width: 100%;
    }
  }
}
.contactModal.active,
.userCardModal.active,
.userAddressModal.active {
  display: flex;
}
.contactModal.deactive,
.userCardModal.deactive,
.userAddressModal.deactive {
  display: none;
}

.checkout,
.userPanel {
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 8rem;
  &__title {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &__content {
    width: 100%;
    display: grid;
    grid-template-columns: 55% auto;
    gap: 5%;
    &--equal {
      grid-template-columns: 50% auto;
    }
    .content {
      position: relative;
      &__wrapper {
        border: 1px solid #ddd;
        border-radius: 1.4rem;
        padding: 2rem;
        &--marginTop {
          margin-top: 2rem;
        }
        &--fixed {
          position: sticky;
          top: calc(0% + 8rem);
          width: 100%;
        }
      }
      &__title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
      }
      &__map {
        width: 100%;
        height: 15rem;
        max-height: 20rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-radius: 1rem;
        background-color: #eee;
        overflow: hidden;
      }
      &__select {
        width: 100%;
        height: 3rem;
        max-height: 3rem;
        background-color: rgb(238, 241, 241);
        border-radius: 0.8rem;
        display: flex;
        justify-content: flex-start;
        padding: 0 1rem;
        color: #888;
        &:hover {
          background-color: rgb(224, 229, 231);
        }
        i {
          margin: auto;
        }
        select {
          width: 100%;
          color: #444;
          border: none;
          outline: none;
          background-color: transparent;
          padding-left: 0.4rem;
          font-size: 1rem;
          cursor: pointer;
          option {
            background-color: #eee;
          }
        }
      }
      &__group {
        width: 100%;
        display: grid;
        gap: 0.5rem;
        &--3x {
          grid-template-columns: 1fr 1fr 1fr;
        }
        &--2x {
          grid-template-columns: 1fr 1fr;
        }
        &--items {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #111;
            p {
              width: 70%;
            }
            span,
            sub {
              display: block;
            }
            sub {
              text-align: right;
              color: #888;
              font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
                "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
            }
            #phone {
              outline: none;
              padding: 4px;
              border-radius: 3px;
            }
            #phone.active {
              border: 1px solid #ccc;
            }
          }
        }
        &--flex {
          margin-top: 2rem;
          display: flex;
          flex-direction: column;
          .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2 {
              font-weight: 500;
            }
          }
        }
        &--unique {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          button {
            padding-top: 8px;
            padding-bottom: 8px;
          }
        }
        &--baseline {
          align-items: baseline;
        }
        &--empty {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding-top: 3rem;
          padding-bottom: 3rem;
          img {
            width: 100%;
            max-width: 12rem;
          }
          p {
            color: #999;
            font-weight: 500;
          }
        }
        &--list {
          margin-top: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          overflow-y: scroll;
          max-height: 14rem;
          gap: 1.5rem;
          .card {
            width: 100%;
            padding-left: 0.8rem;
            padding-right: 0.8rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
              display: inline-flex;
              align-items: center;
              gap: 10px;
              p {
                font-size: 1rem;
                font-weight: 500;
              }
            }
            img {
              max-width: 2rem;
              border-radius: 0.2rem;
            }
            i {
              color: #aaa;
              cursor: pointer;
              transition: all 0.2s ease;
            }
            i:hover {
              color: #999;
            }
          }
        }
        &--list::-webkit-scrollbar {
          width: 5px;
          height: auto;
        }

        &--list::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        /* Handle */
        &--list::-webkit-scrollbar-thumb {
          background: #aaa;
        }

        /* Handle on hover */
        &--list::-webkit-scrollbar-thumb:hover {
          background: #999;
        }
      }
      &__input {
        position: relative;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        margin-top: 1rem;
        height: 3rem;
        color: #999;
        padding-left: 5px;
        padding-right: 5px;
        label {
          position: absolute;
          background-color: #fff;
          top: 50%;
          transform: translateY(-50%);
          left: 0.5rem;
          padding-left: 5px;
          padding-right: 5px;
          font-size: 0.9rem;
          pointer-events: none;
          transition: 0.2s ease-in-out;
        }
        input {
          border-radius: 0.5rem;
          width: 100%;
          height: auto;
          min-height: 100%;
          border: none;
          outline: none;
          font-size: 1rem;
          color: #555;
          caret-color: #16c647;
          &:focus ~ label {
            top: 0%;
            font-size: 0.7rem;
          }
        }
        input.isActive ~ label {
          top: 0%;
          font-size: 0.7rem;
        }
      }
      &__promocode {
        margin-top: 3rem;
        margin-bottom: 2rem;
        position: relative;
        border: 1px solid #ddd;
        border-radius: 0.8rem;
        display: grid;
        min-height: 3rem;
        grid-template-columns: 70% auto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        span {
          position: absolute;
          top: 55%;
          transform: translateY(-50%);
          left: 0.5rem;
        }
        input {
          padding-left: 1rem;
          border-radius: 0.5rem;
          border: none;
          outline: none;
          font-size: 0.9rem;
          color: #555;
          caret-color: #16c647;
        }
        button {
          padding: 0 1.2rem;
          height: 70%;
          margin: auto;
        }
        button.disabled {
          background-color: rgb(238, 241, 241);
          pointer-events: none;
        }
      }
      &__btn {
        display: block;
        width: 95%;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
      }
      &__featuredProducts {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        .featuredProduct {
          width: 100%;
          border-radius: 0.8rem;
          background-color: #f3f3f3;
          padding: 10px;
          display: flex;
          flex-direction: column;
          gap: 3rem;
          width: auto;
          max-width: 200px;
          text-align: center;

          div {
            width: 100%;
            height: 100%;
          }
          img {
            width: 100%;
            border-radius: 0.5rem;
          }
          h5 {
            font-size: 0.9rem;
            color: #333;
            margin-top: 1rem;
          }
          &:hover {
            cursor: pointer;
          }
        }
        .featuredProduct.notAvailable {
          position: relative;
          opacity: 0.8;
          background-color: rgba(201, 201, 201, 0.24);
          pointer-events: none;
          user-select: none;
          &::after {
            position: absolute;
            content: "Недоступно";
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 1.2rem;
            top: 50%;
            left: 0;
            width: 100%;
            height: 10%;
            border-radius: 0.2rem;
            background-color: rgb(177, 177, 177);
            backdrop-filter: blur(1px);
          }
        }
      }
      &__address {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        overflow-y: scroll;
        max-height: 14rem;
        gap: 1rem;
        .address {
          width: 100%;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          border-bottom: 1px solid #eee;
          h5 {
            color: #222;
            font-size: 1rem;
            font-weight: normal;
          }
          p {
            color: #999;
            font-size: 0.8rem;
            margin-top: 5px;
          }
        }
      }
      &__address::-webkit-scrollbar {
        width: 5px;
        height: auto;
      }

      &__address::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      &__address::-webkit-scrollbar-thumb {
        background: #aaa;
      }

      &__address::-webkit-scrollbar-thumb:hover {
        background: #999;
      }
      &__tabs {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        .tab {
          user-select: none;
          padding: 1rem;
          width: 100%;
          border-radius: 0.8rem;
          cursor: pointer;
          transition: all 0.3s ease;
          font-size: 1rem;
          font-weight: 500;
          color: #999;
          &--active {
            background-color: #f6f6fb;
            color: #555 !important;
            font-weight: 600 !important;
            &:hover {
              background-color: #f6f6fb !important;
            }
          }
          &--danger {
            margin-top: 1rem;
            background-color: #fff8f8;
            &:hover {
              background-color: #ff4040 !important;
              color: #fff;
            }
          }
          &:hover {
            background-color: #f9f9fc;
          }
        }
      }
    }
  }
}

@media (max-width: 834px) {
  ::-webkit-scrollbar {
    height: 0.1px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color-yellow;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $color-yellow;
  }

  html {
    font-size: 14px;
    overflow-x: hidden;
  }
  .promotion {
    margin-top: 180px;
  }
  .shop {
    margin-top: 40px;
  }
  .header {
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    &--checkout {
      flex-direction: row;
      justify-content: center;
      &__logo {
        display: flex;
        justify-content: center;
      }
    }
    &__logo {
      padding: 0.5rem 3rem;
      .logo {
        margin-right: 0;
      }
    }
    &__input {
      margin: 12px auto;
      width: 90%;
    }
    &__navbar,
    .navbar {
      display: flex;
      &__content {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(100%);
        width: 100%;
        height: 100%;
        max-height: auto;
        background-color: #000000cc;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5rem;
        z-index: 99;
        transition: all 0.3s linear;
        a,
        i {
          color: #fff;
          font-size: 2rem;
        }
        .navbar__CloseBtn {
          display: block;
          position: absolute;
          top: 5%;
          right: 8%;
        }
      }
      &__content.active {
        transform: translateX(0%);
      }
      &__content.deactive {
        transform: translateX(100%);
      }
      .navbar__MenuBtn {
        position: absolute;
        top: 15%;
        right: calc(0% + 3rem);
        display: inline-block;
        .navbarBtn.active {
          display: inline-block;
        }
        .navbarBtn.deactive {
          display: none;
        }
      }
    }
  }

  .store {
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    &__info {
      .info {
        &__store {
          min-width: 200px;
          top: 120%;
          left: calc(0% - 200px);
        }
      }
    }
    &__content {
      h1 {
        font-size: 2.4rem;
      }
    }
    &__info {
      gap: 0.5rem;
      .info {
        padding: 3px 6px;
      }
    }
  }

  .storeProducts {
    &__tags {
      display: inline-flex;
      gap: 0.5rem;
      flex-wrap: wrap;
    }
    &__products {
      margin-top: 2rem;
      margin-bottom: 2rem;
      h3 {
        font-size: 1.2rem;
        color: #222;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      .products__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .product {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  .featuredProducts {
    grid-template-columns: 1fr 1fr;
  }
  .userPanel {
    margin-top: 14rem;
  }
  .checkout,
  .userPanel {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
    &__title {
      margin-top: 4rem;
      margin-bottom: 3rem;
    }
    &__content {
      grid-template-columns: 100%;
      gap: 1rem;
    }
  }
}

@media (max-width: 620px) {
  .header {
    .navbar {
      &__content {
        a,
        i {
          color: #fff;
          font-size: 1.5rem;
        }
      }
    }
  }
  .checkout,
  .userPanel {
    padding: 0 1rem;
    &__title {
      font-size: 2.5rem;
    }
    &__content {
      &--equal {
        display: flex;
        align-items: stretch;
        flex-direction: column-reverse;
      }
      .content {
        &__featuredProducts {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
  .contactModal,
  .userCardModal,
  .userAddressModal {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 428px) {
  .storeProducts {
    &__products {
      .products__wrapper {
        grid-template-columns: 1fr;
        .product {
          width: 100%;
        }
      }
    }
  }

  .featuredProducts {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .checkout,
  .userPanel {
    padding: 0 1rem;
    &__title {
      font-size: 2rem;
    }
    &__content {
      .content {
        &__featuredProducts {
          grid-template-columns: 1fr;
          place-items: center;
        }
        &__promocode {
          span {
            top: 50%;
            img {
              width: 1.2rem;
            }
          }
          input {
            padding-left: 0.5rem;
          }
          button {
            padding: 0 0.5rem;
          }
        }
      }
    }
  }
}
